@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:"roboto", serif;
}
:root{
    --black:#131313;
    --main-color:#d3ad7f;
}

html{
    
    scroll-behavior:smooth;
    scroll-padding-top:75px;
}
body{
    background: var(--black); 
}

.header{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;left: 0;right: 0;
    color: white;
   padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--main-color);
    background-color: #131313;
}

.header h3{
    color: #d3ad7f;
    transition: 0.3s;
    &:hover{
        transform: scale(1.2);
    }
}
.header .navbar a{
    color: white;
    margin-left: 1.3rem;
    transition: 0.3s;

    &:hover{
       color: var(--main-color);
       border-bottom: 2px solid var(--main-color);
    }

  
}
.header-icons-search i{
    margin-left: 1.3rem;
    transition: 0.3s;

    &:hover{
       color: var(--main-color);
       border-bottom: 2px solid var(--main-color);
    }
}
.header-icons-search .menu-icon{
    display: none;
}
.header .searchinputs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    right:-900px;
    top: 12%;    
    background-color: rgb(101, 95, 95);
    border-radius: 13px;
    height: 2rem;
    width: 17rem;
    overflow: hidden;
    transition: 0.3s;
    
    
}
.header .searchinputs input{
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    padding-left: 8px;
}
.header .searchinputs i{
    transition: 0.3s;
    margin-right: 10px;

    &:hover{
       color: var(--main-color);
       border-bottom: 2px solid var(--main-color);
    }

}
.header .searchinputs.active{
   right: 0;
}
.header .cartitems{
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 102%;
        right: -900px;
        background-color: rgb(40, 39, 39);
        width: 20rem;
        height:  100vh;
        overflow-x:hidden ;
        transition: 0.3s;
}
.header .cartitems button{
    margin-left: 100px;
    border: none;
    outline: none;
    padding:10px;
    color: black;
    background-color: #d3ad7f;
    border-radius: 3px;
    width: 150px;
    transition: .3s;
    &:hover{
        transform: scaleX(1.2);
    }
}
.header .cartitems.active{
    right: 0;
}
.header .cartitems img{
    height: 50px;
    width: 70px;
    border-radius: 10px;
}
.header .cartitems .items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    overflow-x: hidden;
}
.header .cartitems span{
    font-size: 1rem;
    color: #d3ad7f;
}

.Home{
    margin-top: 60px;
    height: 91.5vh;
    background-image: url(./img/162032.jpg);
    background-position: left;
    background-size: cover;
    
}
.Home .homeContent{
    color:rgb(237, 210, 210);
    padding: 10rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.Home .homeContent h3{
    text-transform: capitalize;
    font-size: 3rem;
}
.Home .homeContent .anime{
    text-transform: capitalize;
    display: flex;
    gap: 20px;
    font-size: 3rem;
    font-weight: 600;
    text-wrap: nowrap;
    overflow: hidden;
}
.Home .homeContent .anime span{
    width: 0px;
    color:#d3ad7f;
    border-right: 3px solid #d3ad7f;
    animation: logo 4s steps(25) infinite;
}
@keyframes logo {
    from{
        width: 0px;
    }
    to{
        width: 320px;
    }
    
}

.Home .homeContent button{
    border: none;
    outline: none;
    padding:10px;
    color: black;
    background-color: #d3ad7f;
    border-radius: 3px;
    width: 150px;transition: .3s;
    &:hover{
        transform: scaleX(1.);
    }

}
.about{
    height: 90vh;
}

.about h1{
    margin-top: 40px;
    text-align: center;
    color:#d3ad7f;
    font-size: 3rem;
}
.about span{
    color: white;
    font-size: 2rem;
}
.about .items img{
    max-height: 85vh;
    max-width: 50vw;
}
.about .items{
    display: flex;
    gap:1rem;
}
.about .about-content{
    color: rgb(181, 146, 146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-left: 20px;
    background-color: var(--black);

}
.about .about-content h3{
    color: white;
    font-size: 2rem;
    text-transform: capitalize;
}
.about .about-content button{
    border: none;
    outline: none;
    padding:10px;
    color: black;
    background-color: #d3ad7f;
    border-radius: 3px;
    width: 150px;transition: .3s;
    &:hover{
        transform: scaleX(1.1);
    }
}
.menu {
    margin-top: 100px;
}
.menu h1{
        text-align: center;
        color: white;
        font-size: 3rem;
}
.menu h1 span{
    color:#d3ad7f;
}
.menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    
    
}

.menu .box{
    color: white;
    height: 300px;
    width: 365px;
   

    border: 1px solid rgb(148, 138, 138);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    &:hover{
        background-color: rgb(63, 51, 51);
      
    }
}
.menu .box img{
height: 150px;
width: 150px;
border-radius: 100px;
}
.menu .box p{
    color: #d3ad7f;
    font-size: 1.2rem;
}
.menu .box p span{
    text-decoration: line-through;
    font-size: 1rem;
}
.menu .box  button{
    border: none;
    outline: none;
    padding:10px;
    color: black;
    background-color: #d3ad7f;
    border-radius: 3px;
    width: 150px;transition: .3s;
    &:hover{
        transform: scaleX(1.1);
    }
}

/* products start */
.products {
 
    margin-top: 100px;

    padding-top: 100px;

}
.products h1{
        text-align: center;
        color: white;
        font-size: 3rem;
}
.products h1 span{
    color:#d3ad7f;
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;   
}

.products .box{
    color: white;
    height: 400px;
    width: 365px;
   

    border: 1px solid rgb(148, 138, 138);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
    &:hover{
        background-color: rgb(63, 51, 51);
    }
}
.products .box .icons i{
    font-size: 1rem;
    padding: 5px;
    border: 1px solid rgb(148, 138, 138);
}

.products .box img{
height: 220px;
width: 200px;
border-radius: 10%;
box-shadow:0px 1px 10px #2c1c04;

}
.products .box .stars i{
    color: #d3ad7f;
}


/*revieww start*/
.review{
    min-height: 85vh;
    margin-top: 100px;
    padding-top: 100px;

}
.review .box-container{
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;;
   
}
.review h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
.review h1 span{
color:#d3ad7f;
}

.review .box-container .box{
    color: white;
    height: 400px;
    width: 365px;
    border: 1px solid rgb(148, 138, 138);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
        
}
.review .box-container .box img{
    object-fit:cover;
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
.review .icons i{
    font-size: 2rem;
}
.review p{
    text-align: center;
    padding: 2px;
}

/* .review end here */

.contact{
    
    min-height: 90vh;
    
}

.contact h1{
    margin-top: 40px;
    text-align: center;
    color:#d3ad7f;
    font-size: 3rem;
}
.contact span{
    color: white;
    font-size: 2rem;
}

.contact .items{
    padding: 2rem;
    background-color: rgb(24, 23, 23);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.map{
    border-radius: 5px;
    overflow: hidden;
    flex: 1 1 30rem;
}
.contact form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex: 1 1 30rem;
    padding-left: 20px;
    margin-bottom: 80px;
    overflow: hidden;

}
.contact form h1{
    text-align: start;
    color: white;
}
.contact form .inputBox{
   width: 70%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid #535252;
    margin-right: 5px;
    background-color: #131313;
}
.contact form .inputBox span{
    color: rgb(107, 104, 104);
    font-size: 1.5rem;
}
.contact form .inputBox input{
    color: white;
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.3rem;
}


.contact button{
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    padding:10px;
    color: black;
    background-color: #d3ad7f;
    border-radius: 3px;
    width: 150px;transition: .3s;
    &:hover{
        transform: scaleX(1.1);
    }
}

footer .container{
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}
footer .container .share i{
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    margin-left: .5rem;
    border: 1px solid #d3ad7f;
    transition: .3s;
    &:hover{
        background-color: var(--main-color);
        color: #131313;
    }
}
footer .container .links{
    min-height: 5rem;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    overflow: hidden;
    align-items: center;
}
footer .container .links a{
    text-decoration: none ;
    color: white;
    border: 1px solid #d3ad7f;
    font-size: 1rem;
    padding: 0.4rem .9rem;
    margin-left: 1rem;
    transition: .3s;
    &:hover{
        background-color: var(--main-color);
        color: #131313;
    }
    
    
}
footer .container p{
    text-align: center;
    color: #535252;
    margin-bottom: 1rem;
}
footer .container p span{
    color: #9e8b74;
}




@media  screen and (max-width:775px) {
    .header-icons-search .menu-icon{
        display: inline-block;
        }
    .header .navbar{
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 102%;
        right: -900px;
        background-color: rgb(40, 39, 39);
        width: 17rem;
        height:  100vh;
        overflow-x:hidden ;
        transition: 0.3s;
                
    }
    .header .navbar a{
        border-bottom: 1px solid var(--main-color);
        padding: 10px;
        margin: 0;
        padding:20px 50px;
        width: 100%;
    }
   .navbar.active{
        right: 0;
    }
    .header .searchinputs{
        margin-right: 35px;
    }
    .header .cartitems{
        width: 17rem;
    }
    .Home .homeContent{
    margin-top: 35%;

    }
    .Home .homeContent{
        gap: 1rem;
        text-align: center;
        align-items: center;
        padding: 10rem 3rem;
       
    }
    .Home .homeContent h3{
        font-size: 2rem;
    }
    
}

@media  screen and (max-width:1031px){
    .about .items{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about .about-content{
        align-items: center;
        padding: 0 20px;
    }
    .Home .homeContent .anime{
        font-size: 2rem;
        
    }
    @keyframes logo {
        from{
            width: 0px;
        }
        to{
            width: 200px;
        }
        
    }

}
